.Header,.Header-push{
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	height: 0.8rem;
	line-height: 0.8rem;
	color:#fff;
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	transition:left 1s;
}
.Header-push{
	left: 3.8rem;
	transition:left 1s;
}
.Home{
	position: absolute;
	top: 0.22rem;
	left: 0.25rem;
	height: 0.28rem;
	width: 0.38rem;
}
#Main{
	transform: translate3d(0,0,0);
	transition:1s;
}
#Main-push{
	transform: translate3d(3.8rem,0,0);
	transition:1s;
}