.Sidebar{
	width: 3.8rem;
	height: 100%;
	background:#232a32;
	z-index: 110;
	position: fixed;
	top: 0;
	transform: translate3d(0,0,0)
}
.SiderLog{
	height: 0.9rem;
	margin-top: 0.2rem;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
	
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;

	padding-left: 0.25rem;
}
.SiderLog img{
	width: 0.6rem;
	height: 0.6rem;
	float: left;
}
.SiderLog p{
	font-size: 0.28rem;
	color:rgba(255,255,255,0.5);
	float: left;
	margin-left: 0.25rem;
}
.SiderList{
	height: 0.9rem;
}

.SiderList li{
	height: 0.8rem;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
	
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;

	float: left;
	width: 33%;
	flex-direction: row;
}
.SiderList li span{
	width: 0.32rem;
	height: 0.32rem;
	display: block;
	background: url(../../images/icon.png) no-repeat  -32px -28px;
}
.SiderList li p{
	color:rgba(255,255,255,0.5);
}
.SiderItem li{
	height: 0.8rem;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
	
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	color:rgba(255,255,255,0.5);
	padding: 0 0.25rem;
}
.SiderItem .active{
	background:#1b222a;
	color:#fff;
}