body,div,ul,li,p,span,h2,h3,h4,h5,h6,a{
	margin: 0;
	padding:0;
}
h2,h3,h4,h5,h6{font-weight: normal;}
html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
body {
	font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

a{
	text-decoration: none;
	background: transparent;
	-webkit-tap-highlight-color: transparent;
}

ul{
	list-style: none outside none;
}

img{
	display: block;
}
#AppWrap{
	width: 100%;
	height: 100%;
	position: relative;
}